

:root {
    --light-blue: rgb(121, 197, 49);
    --blue: rgb(41, 102, 84);
}

body {
    background-color: rgb(10, 10, 10);
    margin: 0;
}

.nav-list {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.nav-list a {
    font-size: clamp(2.5em, 8vw, 7em);
    padding: clamp(0.5em, 1vw, 1em) clamp(1em, 4vw, 2rem);
    text-decoration: none;
    color: rgb(83, 212, 195);
    font-family: monospace;
    border-top: 1px solid rgb(255, 255, 255);
    position: relative;
    display: block;



}
a::after {
    color: var(--light);
}
a::before {
    background: linear-gradient(
    to right,
    transparent,
    var(--blue) var(--light-blue-percent),
    var(--light-blue)
  );
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    
}

a:hover::before {
    width: 100%;
    transition: width 0.6s ease;
}


a:last-child {
    border-bottom: 1px solid rgb(255, 255, 255);
}